[Desktop Entry]
Name=Astra Snake
Name[fr]=Serpent AstraOS
Comment=Classic snake game
Comment[fr]=Jeu du serpent classique
Exec=astra-snake
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
StartupNotify=true
