# SPDX-License-Identifier: GPL-3.0-or-later

INCLUDE theme.cfg

DEFAULT astraos
PROMPT 0
TIMEOUT 30
UI menu.c32

MENU TITLE AstraOS Live
MENU HELPMSGROW 22
MENU WIDTH 78
MENU MARGIN 6
MENU ROWS 10
MENU TABMSGROW 18
MENU CMDLINEROW 18
MENU HIDDENROW 20
MENU TIMEOUTROW 24

LABEL astraos
MENU LABEL AstraOS Live (x86_64)
MENU HELP Print AstraOS logo on boot and load the default Hyprland session.
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL astraos-fallback
MENU LABEL AstraOS Live (x86_64) — fallback initramfs
MENU HELP Use this if the default boot fails (more drivers, slower boot).
LINUX /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/intel-ucode.img,/%INSTALL_DIR%/boot/amd-ucode.img,/%INSTALL_DIR%/boot/x86_64/initramfs-linux-fallback.img
APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL%

LABEL reboot
MENU LABEL Reboot
MENU HELP Reboot the machine now.
COM32 reboot.c32

LABEL poweroff
MENU LABEL Power Off
MENU HELP Power off the machine now.
COM32 poweroff.c32
