[Desktop Entry]
Name=Astra Tic-Tac-Toe
Name[fr]=Morpion AstraOS
Comment=Classic 3x3 tic-tac-toe game
Comment[fr]=Morpion classique en 3x3
Exec=astra-tictactoe
Icon=applications-games
Terminal=false
Type=Application
Categories=Game;LogicGame;
StartupNotify=true
