# SPDX-License-Identifier: GPL-3.0-or-later

MENU COLOR border       30;44   #40ffffff #a00000000 none
MENU COLOR title        1;36;44 #ffe040fb #a00b0d17  none
MENU COLOR sel          7;37;40 #ff000000 #ffe040fb  none
MENU COLOR hotsel       1;7;37;40 #ff000000 #ffe040fb none
MENU COLOR unsel        37;44   #fff1f5f9 #a00b0d17  none
MENU COLOR hotkey       1;37;44 #ffe040fb #a00b0d17  none
MENU COLOR tabmsg       31;40   #ff94a3b8 #a00000000 none
MENU COLOR cmdmark      1;36;40 #ffff0000 #a00000000 none
MENU COLOR cmdline      37;40   #fff1f5f9 #a00000000 none
MENU COLOR scrollbar    30;44   #40ffffff #a00000000 none
MENU COLOR pwdborder    30;44   #80ffffff #a00000000 none
MENU COLOR pwdheader    31;40   #ffe040fb #a00000000 none
MENU COLOR pwdentry     30;40   #fff1f5f9 #a00000000 none
MENU COLOR timeout_msg  37;40   #ff94a3b8 #a00000000 none
MENU COLOR timeout      1;37;40 #ffe040fb #a00000000 none
MENU COLOR help         37;40   #fff1f5f9 #a00000000 none
MENU COLOR helpsel      7;37;40 #ff000000 #ffe040fb  none
MENU COLOR helpborder    30;44  #40ffffff #a00000000 none

MENU HSHIFT 4
MENU VSHIFT 2
MENU WIDTH 78
MENU MARGIN 6
MENU ROWS 10
MENU HELPMSGROW 22
MENU CMDLINEROW 18
MENU TABMSGROW 18
MENU TIMEOUTROW 24
MENU HIDDENROW 20

MENU TITLE AstraOS Live  [ v0.1 ]
