[Desktop Entry]
Name=Astra VM
Name[fr]=Astra VM
Comment=Virtual Machine Manager
Comment[fr]=Gestionnaire de machines virtuelles
Exec=astra-vm
Icon=computer
Terminal=false
Type=Application
Categories=System;Virtualization;
StartupNotify=true
