[Desktop Entry]
Name=Astra Widgets
Name[fr]=Widgets AstraOS
Comment=Desktop widgets
Comment[fr]=Widgets de bureau
Exec=astra-widgets
Icon=view-grid-symbolic
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
