[Desktop Entry]
Name=Astra Sticky Notes
Name[fr]=Notes adhésives AstraOS
Comment=Floating colored sticky notes
Comment[fr]=Notes adhésives flottantes et colorées
Exec=astra-sticky-notes
Icon=org.gnome.StickyNotes
Terminal=false
Type=Application
Categories=Utility;Office;
StartupNotify=true
